/* Hide WooCommerce default title payment details */
header.entry-header,
.order_details {
  display: none;
}

.woocommerce-breadcrumb {
  margin-bottom: 0;
}

.ln-pay {
  margin-bottom: 2em;
}

.ln-pay h2 {
  margin-bottom: 0;
}

.ln-pay h4 {
  color: #999;
  clear: none;
}

.ln-pay .payreq {
  word-wrap: break-word;
  margin-right: 300px;
}

.ln-pay code {
  display: block;
  margin: 1em 0;
  padding: 0.75em;
}

.ln-pay p {
  margin: 1em 0;
}

.ln-pay .loader {
  display: inline;
}

@media (max-width: 550px) {
  .ln-pay {
    text-align: center;
  }
  #qr {
    float: none;
    margin: 0 auto;
  }
  .ln-pay .payreq {
    margin-right: 0;
  }
}

.qr_container {
  position: relative;
  display: block;
  float: right;
  width: 300px;
  margin-top: -10px;
}

#qr {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

#qr.active {
  opacity: 0.1;
}

/*
Check Animation
 */

#check-svg {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#check-svg circle,
#check-svg polyline {
  stroke: green;
  fill: none;
  stroke-width: 24px;
  stroke-linejoin: round;
  stroke-linecap: round;
  border-color: #f0a;
}

#check-svg circle {
  stroke-dashoffset: 960;
  stroke-dasharray: 960;
}

#check-svg polyline {
  stroke-dashoffset: 200;
  stroke-dasharray: 200;
}

#check-svg.active circle {
  animation-name: circle_animation;
  animation-delay: 100ms;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  transform-origin: 50% 50%;
}

#check-svg.active polyline {
  animation-name: draw-line-2;
  animation-delay: 550ms;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes draw-line-2 {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes circle_animation {
  0% {
    stroke-dashoffset: 960;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
